In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv('../dataset/earthquake_alert_balanced_dataset.csv')
df.head()

   magnitude  depth  cdi  mmi   sig  alert
0        7.0   14.0  8.0  7.0   0.0  green
1        6.9   25.0  4.0  4.0 -33.0  green
2        7.0  579.0  3.0  3.0 -13.0  green
3        7.3   37.0  5.0  5.0  65.0  green
4        6.6  624.0  0.0  2.0 -98.0  green

In [3]:
df.shape

(1300, 6)

In [5]:
df.describe().T

            count       mean         std    min   25%   50%   75%    max
magnitude  1300.0   7.061008    0.423738    6.5   6.7   7.0   7.3    8.6
depth      1300.0  50.321538  104.348286    2.0  12.0  19.0  38.0  670.0
cdi        1300.0   6.976154    2.244875    0.0   6.0   8.0   8.0    9.0
mmi        1300.0   6.939231    1.354774    1.0   6.0   7.0   8.0    9.0
sig        1300.0  -9.749231   62.245214 -128.0 -54.0  -7.0  31.0  127.0

In [7]:
df['alert'].value_counts()

alert
green     325
yellow    325
orange    325
red       325
Name: count, dtype: int64